:root {
    --main-bg-color: #ECFDF5;
    --title-color: #2b283a;
    --text-color: #6B7280;
    --accent-color: #10B981;
    --main-border-radius: 7px;
}

[data-theme="dark"] {
    --main-bg-color: #273549;
    --title-color: white;
    --text-color: #d5d4d8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

body, input, button {
    transition: background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

main {
    max-width: 95%;
    align-self: center;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5em;
    color: var(--title-color);
}

p {
    color: var(--text-color);
    margin-bottom: 2rem;
    letter-spacing: .5px;
}

button {
    border-radius: var(--main-border-radius);
    cursor: pointer;
    border: 2px solid var(--accent-color);
    font-family: inherit;
    font-size: 1rem;
}

label {
    font-size: 1.2em;
    font-family: inherit;
    line-height: 1.4;
}

input[type="checkbox"] {
    width: 1.15em;
    height: 1.15em;
    margin: .5em 0;
    accent-color: var(--accent-color);
}

input[type="number"] {
    width: 3.5rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 5px;
    color: #273549;
    border-radius: var(--main-border-radius);
}

.accent-text {
    color: var(--accent-color);
    display: block;
}

#change-theme-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: inherit;
    color: var(--title-color);
    letter-spacing: .5px;
}

#generate-btn {
    background-color: var(--accent-color);
    color: white;
    padding: .7em 1em;
    font-size: 1.2rem;
    margin: 1rem 0;
}

#generate-btn:hover,
#generate-btn:focus {
    color: var(--accent-color);
    background-color: white;
}

#copy-text-btn {
    width: 210px;
    height: 40px;
    border-radius: var(--main-border-radius);
    border-color: #273549;
    background-color: #ECFDF5;
    color: #273549;
}

#password-text {
    width: 210px;
    height: 40px;
    border-radius: var(--main-border-radius);
    border: 2px solid var(--main-bg-color);
    background-color: #273549;
    color: #55F991;
    text-align: center;
    font-size: 1rem;
}

#copy-text-btn:hover,
#change-theme-btn:hover,
#copy-text-btn:focus,
#change-theme-btn:focus {
    background-color: var(--accent-color);
    color: white;
}

.options {
    max-width: 450px;
    border-top: 2px solid #2F3E53;
    margin-top: 2em;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
