body {
    background-color: #1F2937;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

main {
    max-width: 95%;
}

h1 {
    font-size: 2.3rem;
}

p {
    color: #E5E7EB;
    margin-bottom: 2rem;
    letter-spacing: .4px;
}

.green {
    color: #4ADF86;
    display: block;
}

#generate-btn {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 7px;
    padding: .7em 1em;
    font-size: 1.2rem;
    border: #10B981 solid 2px;
}

#generate-btn {
    display: block;
    margin: 1rem 0;
}

#generate-btn:hover,
#generate-btn:focus,
#copy-text:hover,
#copy-text:focus {
    color: #10B981;
    background-color: white;
}

.options {
    max-width: 450px;
    border-top: 2px solid #2F3E53;
    margin-top: 2em;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

#password-text,
#copy-text {
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #273549;
    color: #55F991;
    margin-right: .5em;
    margin-bottom: 1em;
}

#copy-text {
    background-color: #ECFDF5;
    color: #273549;
}

label {
    font-size: 1.2em;
    font-family: inherit;
    line-height: 1.4px;
    margin: 3em 0;
}

input[type="checkbox"] {
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    margin: .5em 0;
    padding: 5px;
    accent-color: #10B981;
}

input[type="number"] {
    width: 3em;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    padding-right: 0;
    color: #273549;
    font: inherit;
    font-size: 1.1rem;
    border-radius: 7px;
}